<div class="auth-page group">
  <h1>Log in</h1>

  <% if flash[:errors] %>
    <ul class="errors">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>

  <form action="<%= session_url %>" method="post">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

    <label for="username">Username</label><br>
    <input id="username"
           type="text"
           name="user[username]"
           placeholder="Enter your username"
           value="">
    <br>

    <label for="password">Password</label><br>
    <input id="password"
           type="password"
           name="user[password]"
           placeholder="Enter your password"
           value="">
    <br>

    <input class="submit" type="submit" value="Log In">
  </form>

  <!-- TODO enable forgot your password functionaliy using emails -->
  <div class="join-block">
    Don't have an account?
    <a class="join-button" href="<%= new_user_url %>">Join Clickapedia</a>
  </div>

  <form class="demo-user" action="<%= session_url %>" method="post">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
    <input type="hidden" name="user[username]" value="guest">
    <input type="hidden" name="user[password]" value="password">
    <input class="demo-user submit" type="submit" value="Log In As Guest">
  </form>
</div>
